{% extends "base.html" %}

{% block content %}
<div class="container my-5">

<h2 class="text-center mb-4">Careers</h2>

<div class="card p-4 shadow-sm">
<h3 class="text-primary">Marketing Executive</h3>

<p><strong>Location:</strong> Pune </p>
<p><strong>Job Type:</strong>Full-Time Marketing Executive</p>
<p><strong>CTC:</strong> ₹1.2L - 1.8L Annually</p>

<hr>

<h5>Job Description:</h5>
<p>
Phoenix Technico is looking for a dynamic and creative Marketing Executive to join our team. 
The ideal candidate will have a passion to Identify and approach potential companies for IT services.
</p>

<h5>Key Responsibilities:</h5>
<ul>
<strong>Client Acquisition (Business Development):</strong> <li>Identify and approach potential companies for IT services.</li>
<li> Visit client offices and present company services.</li>
<li>Generate new business opportunities. Build long-term relationships with corporate clients.</li>
<li>Create engaging posts, stories, and videos to increase visibility and engagement.</li>

<strong>Corporate Marketing & Sales:</strong> <li>Meet decision-makers like IT Managers, Admin Heads, Directors, and HR. </li>

<li>Explain IT solutions such as CCTV, Networking, Access Control, Fire Systems, and IT Infrastructure.</li>

<li>Prepare and present proposals to companies.</li>

<li>Negotiate pricing and close deals.</li>

<strong>Client Relationship Management:</strong> <li>Develop blog articles, case studies, and marketing content.</li>
<li>Maintain strong relationships with existing clients.</li>

<li>Regular follow-ups with clients.</li>

<li>Handle client queries and service coordination.</li>

<li>Ensure customer satisfaction.</li>

<strong>Coordination with Technical Team:</strong><li> Understand client requirements</li>

<li>Coordinate with engineers and technical staff.</li>

<li>Ensure smooth project execution.</li>

<strong>Reporting & Performance:</strong> <li>Maintain daily/weekly client visit reports.</li>

<li>Track leads and conversions.</li>

<li>Prepare business reports for management.</li>
</ul>

<h5>Qualifications:</h5>
<ul>
<li>Minimum 12th pass.</li>
<li>Pursuing or holding a degree in Marketing preferred.</li>
<li>1–3 years of relevant experience preferred.</li>
<li>Strong team player with creative mindset.</li>
</ul>

<h5>Additional Requirements:</h5>
<ul>
<li>Must have a two-wheeler with valid license.</li>
<li>Local candidates preferred.</li>
<li>Immediate joining or within 15 days preferred.</li>
</ul>

<h5>Benefits:</h5>
<ul>
<li>Salary not a constraint for right candidate.</li>
<li>Fast promotion opportunity within 6 months.</li>
<li>PF, ESIC, and travel incentives.</li>
</ul>

<div class="mt-4">
<a href="/apply" class="btn btn-primary">Apply Now</a>
</div>

</div>
</div>
{% endblock %}
